.project{
    margin-top: 2rem ;
    padding: 2rem;
    width: 90%;
    height: 100%;
}
.project-tools >a{
    width: 5rem;
    height: 5rem;
    object-fit:contain;
    box-sizing: border-box;
    background-color: var(--color-white);
    transition: var(--transition);
    border-radius: 0.5rem;
    /* border: 1px solid red; */

}
.project-tools{ 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    margin: 0.2rem;
    background-color: var(--color-bg);
    /* border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(104, 154, 230, 0.2); */
    transition: var(--transition);
    box-sizing: border-box;
}
img{
    /* border: 1px solid yellow; */
    max-width: 100%;
    max-height: 100%;
    object-fit:contain;
    box-sizing: border-box;
}
a{
    /* border-bottom: 1px solid green; */
    text-decoration: none;
    color: var(--color-primary);
    transition: var(--transition);
    box-sizing: border-box;
    overflow:visible;
}
video{
    max-width: 100%;
    height: auto;
    object-fit:contain;
    box-sizing: border-box;
 }
 h2{ 
    font-size: 1rem;
    font-weight: bold;
    
 }
 .inner-project{ 
     /* border: 1px solid var(--color-primary); */
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    padding-bottom: 1rem;
    margin: 1rem;
    background-color: var(--color-bg);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(235, 241, 250, 0.2);
    transition: var(--transition);
    box-sizing: border-box;
 }

 .project-video{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    padding: 1rem;
    margin: 1rem;
    background-color: var(--color-bg);
    /* border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(104, 154, 230, 0.2); */
    transition: var(--transition);
    box-sizing: border-box;
 }
 .project-description{
     /* border: 1px solid var(--color-primary); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    align-items: left;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--color-bg);
    /* border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(104, 154, 230, 0.2); */
    transition: var(--transition);
    box-sizing: border-box;
 }
.live-links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: left;
    padding: 1rem;
    /* margin: 1rem; */
    background-color: var(--color-bg);
    /* border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(104, 154, 230, 0.2); */
    transition: var(--transition);
    box-sizing: border-box;
}
.live-links > a{
    width: 10rem;
    height: 2.3rem;
    object-fit:contain;
    box-sizing: border-box;
    background-color: var(--color-bg);
    transition: var(--transition);
    border-radius: 0.5rem;
    border: 1px solid rgb(234, 195, 195);
    text-align: center;
    padding-top: 5px;

    
}
.live-links > a:hover{
    transform: scale(1.1);
    box-shadow: 0 0.8rem 1rem rgba(104, 154, 230, 0.2);
    background-color: var(--color-primary);
    color: var(--color-bg);
}

/* =============Media Queries (Medium devices)=========== */

@media screen and (max-width: 1100px){
    .project{
        width: 100%;
    }
    .inner-project{
        flex-direction: column;
    }
    .project-video{
        justify-content: center;
        margin: auto;
    }
  }
  
    
  /* =============Media Queries (Small devices)=========== */
  
  @media screen and (max-width: 600px){
    .inner-project{
        flex-direction: column;
    }
    .project-video{
        justify-content: center;
        margin: auto;
    }
    h2{
        font-size: 1.2rem;
    }
    ul{
        font-size: 1rem;
    }
    a{ 
        max-width: 4rem;
        max-height: 4rem;
        margin:1rem;
    }

  }