
.githubContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 25px;
    margin-top: 20px;
}
.githubContainer>a{
    margin-top: 0px;
}
.githubCalender{
    width: 76%;
    margin: auto;
    background-color: rgb(19, 19, 19);
    padding:40px 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 6px;
    margin-bottom: 40px;
    gap:10px;

}
@media screen and (max-width: 1000px){
    .githubContainer{
        width: 100%;
        display: flex;
        justify-content:center ;
        gap: 10px;
        padding: 20px;
    }
    .githubCalender{
        width: 100%;
        margin: auto;
        background-color: rgb(19, 19, 19);
        padding:40px 50px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        border-radius: 6px;
        margin-bottom: 40px;
        gap:10px;
    
    }
}

@media screen and (max-width: 700px){
    .githubContainer{
        width: 100%;
        display: block;
        justify-content: center;
        gap: 20px;
        padding: 0px 17px;
        margin-top: -1px;
        /* border: 2px solid white; */
    }
    .githubCalender{
        width: 94%;
        margin: auto;
        background-color: rgb(19, 19, 19);
        padding:40px 20px;
        display: flex;
        justify-content: center;
        margin-top: 0px;
        border-radius: 6px;
        margin-bottom: 20px;
    }
}