.contact{
    width: 90%;
    height: 100%;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
name{
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-primary);
}
.contact-info{
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
    font-size:2rem;
    justify-content: center;
    align-items: center;
}
.contact-info>a{
    background-color: var(--color-bg);
}
.call ,.mail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size:1.2rem;
}
.bottom{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top:10rem;
    font-size:0.9rem;
}


/* =============Media Queries (Medium devices)=========== */

@media screen and (max-width: 1110px){
   .contact{
        width: 100%;
   }
    
  }
  
    
  /* =============Media Queries (Small devices)=========== */
  
  @media screen and (max-width: 600px){
    h1, name{ 
        font-size: 1.7rem;
    }
  }