.header_container{ 
    /* margin:2rem; */
    margin-top: 3rem;
    width: 100%;
    margin: auto;
    justify-content: center;
    /* border: 2px solid #fcff32; */
    margin-top: 80px;
    text-align: center;

}
.me{
    background: linear-gradient(transparent,var(--color-primary));
    width: 250px;
    margin: auto;

    border-radius:50%;
    overflow:hidden;
       
}
.header{ 
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-bottom: 2rem;
    width: 100%;

}
.developerName{
    /* margin-left: 127px; */
    width:450px;
    
}
.typeAnimation {
    font-size: 20px;
    font-weight: bold;
    color: #43b5ff;
    /* font-family: "ClickerScript", cursive; */
    margin-top: -5px;
    margin-bottom: 8px;
}

.about{ 
    letter-spacing: 0.1rem;
    transition: var(--transition);
    text-align: center;

}

.cta{
    display: flex;
    justify-content:center;
    gap: 1rem;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.btn{
    display: flex;
    align-items: center;
    gap: 5px;
}
/* =============Media Queries (Medium devices)=========== */

@media screen and (max-width: 1110px){
    .header{
        width: 100%;
        /* border-top: 1px solid green; */
        padding:0rem;
        margin: auto;
    }
    .header_container{
        width: 100%;
        /* border: 1px solid red; */
        /* margin:0; */
        /* padding:0rem; */
        margin-top: 90px;

    }
    .navbar-external{
        display:none;
    }
    .about{
        padding:1rem;
    }
    
    
    section{
        margin-top: 6rem;
    }
  }
  
    
  /* =============Media Queries (Small devices)=========== */
  
  @media screen and (max-width: 600px){

    .header{
        width: 95%;
        border-top: 3px solid green;
        /* padding:0rem; */
    }
    .header_container{
        width: 100%;
        /* border: 1px solid red; */
        margin:auto;
        padding:0rem;
        margin-top: 90px;

    }   
    .developerName{
        width: 300px;
        margin-left: 85px;
    }
    
    .me{
        width: 200px;
        margin: auto;
    }
    .about{ 
        letter-spacing: 0rem;
        transition: var(--transition);
        padding: 0.5rem;
    }
    .cta{
        width: 100%;
        gap: 0;
        margin: auto;
        padding: none;
     }
    .cta >a{
    
        max-width:fit-content;
    
    }
  }