.navbarContainer {
    width: 100%;
    background: #150303f2;
    position: fixed;
    z-index: 50;
    margin: auto;
    /* display: flex; */
    /* justify-content: center; */
    /* margin-bottom: 100px; */
    /* border: 2px solid red; */

}


nav {
    background: #150303f2;
    width: 75%;
    margin: auto;
    height: 60px;
    display: block;
    padding: 0.1rem 1.4rem;
    position: sticky;
    z-index: 10;
    top: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-around;
    /* gap: 40px; */


}

nav a {
    /* background: transparent; */
    padding: 0.5em;
    /* margin: 0 10px; */
    /* border-radius: 50%; */
    display: flex;
    /* color: var(--color-light); */
    color: white;
    font-size: 1.2rem;


}

nav a:hover {
    /* background-color: rgba(254, 223, 178, 0.3); */
    color: var(--color-light);
    background-color: #43b5ff;
    color: black;
    background-color: #43b5ff;

    border-radius: 3px;
}

nav a.active {
    /* background-color:var(--color-bg); */
    color: var(--color-white);
    /* background-color:#43b5ff; */
    border: 1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 10px 20px;
    background-color: #43b5ff;

    border-radius: 3px;


}

.btnResume {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 6px 10px;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    gap: 5px;
}

@media screen and (max-width: 1150px) {
    nav {
        background: #150303f2;
        width: 85%;
    }
    nav a {
        /* padding-top: 8px; */
        font-size: 14px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 1px;
    }
    .btnResume {
        display: flex;
        align-items: center;
        font-size: 12px;
        padding: 5px 8px;
        border: 1px solid white;
        color: white;
        border-radius: 8px;
        cursor: pointer;
    }
}

@media screen and (max-width: 650px) {
    .navbarContainer {
        width: 100%;
        margin: auto;

    }

    nav {
        background: #0b0101f2;
        width: 100%;
        height: 60px;
        top: 0;

        display: flex;
        /* flex-direction: column; */
        justify-content: space-around;
        gap: 2px;

    }

    nav a {
        /* padding-top: 8px; */
        font-size: 11px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 1px;
    }

    nav a.active {
        /* background-color:var(--color-bg); */
        color: var(--color-white);
        margin-top: 9px;
        background-color: #43b5ff;
        /* margin-top: 10px; */
        border: 1px solid white;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 3px;
        padding: 4px 7px;

    }

    .btnResume {
        display: none;
        font-size: 11px;
        padding: 3px 2px;
        border: 1px solid white;
        color: white;
        border-radius: 8px;
        cursor: pointer;
    }
}
