nav{
    background-color: rgba(70, 232, 244, 0.3);
    width: max-content;
    height: 50%;
    display: block;
    padding:0.1rem 1.4rem;
    /* z-index: 2; */
    position: fixed;
    right:1%;
    top:25%;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(10px);
}

nav a{
    background: transparent;
    padding:0.5em;
    border-radius: 50%;
    display: flex;
    color:var(--color-light);
    font-size: 1.2rem;

}

nav a:hover{ 
    background-color: rgba(254, 223, 178, 0.3);
    color: var(--color-light);
    
}

nav a.active{
    background-color:var(--color-bg);
    color:var(--color-white);
    
}